header {
    height: 640px;
    padding-top: 2rem;
}

.header__container {
    text-align: center;
    position: relative;
}

.cta {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    top: 15rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary),transparent);
    width: 20rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem;
}

.pic {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: 640px;
    }
}

@media screen and (max-width: 600px) {
    .header__socials {
        display: none;
    }
}